@font-face {
  font-family: 'Cygnito-Mono';
  font-style: normal;
  font-weight: normal;
  // ~@:
  // Force webpack to handle this request as a module request with ~
  // https://stackoverflow.com/a/54030632/1121268
  src: url('~@/assets/fonts/cygnito-mono.woff2') format('woff2'),
       url('~@/assets/fonts/cygnito-mono.woff') format('woff'), // sass-lint:disable-line indentation
       url('~@/assets/fonts/cygnito-mono.ttf') format('truetype'); // sass-lint:disable-line indentation
  font-display: swap; // display content before font is loaded!
}

@font-face {
  font-family: 'Megahex';
  font-style: normal;
  font-weight: normal;
  // ~@:
  // Force webpack to handle this request as a module request with ~
  // https://stackoverflow.com/a/54030632/1121268
  src: url('~@/assets/fonts/megahex-webfont.woff2') format('woff2'),
    url('~@/assets/fonts/megahex-webfont.woff') format('woff'), // sass-lint:disable-line indentation
    url('~@/assets/fonts/megahex-webfont.ttf') format('truetype'); // sass-lint:disable-line indentation
  font-display: swap; // display content before font is loaded!
}
