/*
 * Strong,B Styles
 */

@mixin font-style-strong {
  // You might want to replace this with an actual font file
  font-weight: bold;
}

/*
 * Italic
 */

@mixin font-style-italic {
  // You might want to replace this with an actual font file
  font-style: italic;
}

/*
 * Link & Button Styles
 */

@mixin font-style-link {
  @include font-style-base;
  text-decoration: underline;
}

@mixin font-style-button {
  @include font-style-base;
}

/*
 * Font Styles
 */

@mixin font-style-base {
  font-family: $s-font-family-base;
  font-size: $s-fz-14;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;

  @include mq($from: medium) {
    font-size: $s-fz-19;
  }
}

@mixin font-style-extra {
  @include font-style-base;
  font-family: $s-font-family-extra;
}

@mixin font-style-heading-base {
  @include font-style-base;
  font-family: $s-font-family-extra;
  font-size: $s-fz-14;

  @include mq($from: medium) {
    font-size: $s-fz-19;
  }
}

@mixin font-style-heading-1 {
  font-size: $s-fz-19;
  font-weight: bold;
}

@mixin font-style-heading-large {
  font-family: $s-font-family-base;
  font-size: $s-fz-30;
  font-weight: bold;
}

@mixin font-style-cygnito-small {
  @include font-style-extra;
  font-size: $s-fz-14;
}
